.box1 {
  background-color: rgb(163, 0, 0);
  height: 120px;
}

.box2 {
  background-color: rgb(163, 0, 0);
  height: 60px;
}

.redes {
  font-size: 55px !important;
  color: white;
}

.textos {
  color: white;
}
